<head>
    <link href="https://bootswatch.com/4/litera/bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <title>ModPack Admin Interface</title>
</head>
<body>

{% for k, v in modpacks %}
    {{ v }}<br>
{% endfor %}

</body>